.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 150px;
  cursor: pointer;
}

.cardName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
