.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .errorText {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .returnHome {
    font-size: 18px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  